@media(max-width: 750px){
 
 .cartoes-car{
   flex-direction: column;
    
 }

 .cartoes-car .sedans{
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
 }

 .cartoes-car .luxury{
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
 }
h2{
  font-size: 28px;
}

}
